@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato/Lato-Light.ttf") format("ttf");
}

:root {
  --primary-color: #333;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  min-height: 100vh;
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  background-image: url("../src/assets/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 100%;
}

main {
  position: relative;
  padding-bottom: 100px; /* footer */
  padding-top: 250px; /* header */
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

/* HEADER */

.header-pic {
  width: clamp(50px, 100px, 200px);
  object-fit: contain;
}

.header-pic img {
  width: 100%;
  border-radius: 50%;
  position: left;
}

.nav-bg-blur {
  /* background-color: rgba(255, 255, 255, 0.5); */
  transform: translateY(-100%);
}

nav {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.1s ease-in-out;
  /* background-color: var(--primary-color); */
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
}

.nav-li:hover {
  transform: scale(1.05);
  text-shadow: 0 0 50px #fff;
}

.nav-li {
  display: flex;
  margin-right: 20px;
  font-size: 22px;
  color: var(--primary-color);
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-btn {
  display: none;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.bannerContainer {
  margin: 50px;
  display: grid;
  /* generate a automatic grid responsive */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.bannerContainer img {
  margin: auto;
  width: 80%;
}

/* PRODUCT DISPLAY */

.product-mosaic {
  text-align: center;
  width: 25%;
  display: inline-block;
  /* padding: 20px 0; */
  vertical-align: top;
  border: 1px solid var(--primary-color);
  box-shadow: grey;
  border-radius: 10px;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 25px;
  transition: transform 0.3s ease-in-out;
}

.product__logo {
  display: none;
  width: 100%;
  object-fit: contain;
}

.product__logo img {
  width: 125px;
  border-radius: 50%;
  margin: 0 auto;
}

.product-mosaic:hover {
  transform: scale(1.03);
}

.product-mosaic h3 {
  color: black;
  font-size: 22px;
}

.products-cards-img {
  object-fit: contain;
  margin: auto;
  border-radius: 10px;
  padding: 4%;
}

.products-cards-img img {
  max-width: 100%;
  max-height: 280px;
}

.product-mosaic a {
  text-decoration: none;
  color: black;
}

.products-cards-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.popUp {
  background-color: var(--primary-color);
  border-radius: 10px;
  position: fixed;
  top: 100px;
  right: 5px;
  z-index: 15;
  color: white;
  text-align: center;
  padding: 10px 20px;
  transform: translateX(120%);
  animation: translatePopUp 3s ease-in-out;
}

@keyframes translatePopUp {
  0% {
    transform: translateX(120%);
  }
  20%,
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}

.container {
  display: flex;
  padding-top: 250px;
  white-space: nowrap;
}

.txt {
  font-size: 50px;
  animation: scrollTxt 15s linear infinite;
}

@keyframes scrollTxt {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.comeBack {
  color: var(--primary-color);
  font-size: 28px;
}

.productDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productDetail__img {
  width: 500px;
  object-fit: contain;
}

.productDetail__img img {
  width: 100%;
  border-radius: 10px;
}

.paymentPart form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.paymentPart form button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.inputQuantity {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  margin: 0 10px;
}

.basketTable {
  border-radius: 12px;
  padding: 15px 2%;
  /* margin-top: 20px; */
  margin: 20px auto;
  text-align: center;
  /* width: 100%; */
  width: clamp(200px, 100%, 1200px);
  /* 
    width: clamp(MIN, DEFAULT, MAX)
    clamp(mobile, ordi, Gd ecran) */
}

.mobileOnly {
  display: none;
}

.basketTable tbody tr {
  border-radius: 5%;
  margin: 10px;
}

.basketTable th {
  padding: 0 3%;
  width: 19%;
  height: 40px;
}

.basketProduct {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.basketProductImg {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.basketProduct img {
  width: 100%;
}

.basketTable td {
  padding: 0 3%;
  width: 19%;
  height: 40px;
}

.addProduct {
  color: #f4c8c8;
  font-size: 17px;
  text-decoration: none;
}

.basketAnimation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-form {
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 10px 2% 20px 2%;
}

.b-form input {
  display: block;
  width: 87%;
  margin: auto;
  margin-top: 10px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #c4c3c2;
  padding-left: 3%;
  outline: none;
}

.b-form textarea {
  display: block;
  width: 87%;
  margin: auto;
  margin-top: 10px;
  min-height: 70px;
  border-radius: 12px;
  border: 1px solid #c4c3c2;
  padding-left: 3%;
  outline: none;
}

.b-form input[type="submit"],
.basket__submit {
  background-color: var(--primary-color);
  width: 35%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  text-shadow: 0 1px 0 #c4c3c2, 0 -1px 0 #c4c3c2;
}

.tableProduct {
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

.tableProduct thead {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-color);
  margin: 0 20px;
  padding: 20px 0;
}

.tableProduct thead td {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2em;
}

.tableProduct tbody tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableProduct tbody tr td {
  display: flex;
  justify-content: center;
  /* flex: 1; */
  width: 100%;
}

.tdImage {
  object-fit: contain;
}

.tdImage img {
  max-width: 150px;
}

.tdImage button {
  margin-left: 15px;
}

.tdAction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tdAction a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.tdImage img {
  width: 100%;
}

footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer div a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5em;
}

/* media for a responsive header and nav */

@media screen and (max-width: 450px) {
  main {
    padding-top: 50px;
  }

  .hidden {
    display: none;
  }

  nav {
    background-color: rgba(255, 255, 255, 0.9);
  }

  nav ul {
    margin: 0;
    padding: 20px;
    flex-direction: column;
    height: auto;
  }

  nav ul li {
    margin: 20px;
  }

  .desktopOnly {
    display: none;
  }

  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }

  .nav-btn {
    z-index: 80;
    display: block;
    background-color: transparent;
    border: none;
    font-size: 1.25em;
  }

  .product__logo {
    display: flex;
  }

  .productDetail__img {
    width: 300px;
  }

  .productsList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .productsList li {
    width: 100%;
  }

  .products-cards-img {
    padding: 20px;
  }

  .products-cards-img img {
    max-width: none;
    max-height: none;
    width: 100%;
  }

  .product-mosaic {
    padding: 0;
  }

  tbody tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    margin: 15px 0;
  }

  tbody tr td {
    padding: 10px;
  }

  .tableProduct {
    border: none;
    padding: 10px;
  }
  .tableProduct thead {
    display: none;
    flex-direction: column;
  }

  .b-form {
    width: 80%;
    margin: auto;
  }

  .basketTable thead {
    display: none;
  }

  .basketTable tr {
    display: flex;
    border: 2px solid #f4c8c8;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .basketTable tr td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #totalPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #totalPrice td {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileOnly {
    display: block;
  }
}
